body {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    background-color: #c3e6ad;
}

a {
    text-decoration: none;
}

a:hover {
    color: #a52c2c;
}

.title {
    text-align: center;
}

.list {
    text-decoration: dotted;
}